/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/08/2015, 12:31:24
    Author     : yamil
*/

 .center_div{
    margin: 0 auto;
    width:50% /* value of your choice which suits your alignment */
}

.rawStyle{
    background-color: #BDBDBD; 
    
}


.page-body{
    
    
}